conf/schemas/subscription/request-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
           xmlns:csrd="http://xmlns.ec.eu/CallbackService/CSRD2/IReferenceDataSubscriptionReceiverCBS/V4"
           targetNamespace="http://www.w3.org/2003/05/soap-envelope"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:import namespace="http://xmlns.ec.eu/CallbackService/CSRD2/IReferenceDataSubscriptionReceiverCBS/V4"
               schemaLocation="soap-envelop.xsd"/>

    <!-- SOAP Envelope Definition -->
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="soap:Header" minOccurs="0"/>
                <xs:element ref="soap:Body"/>
            </xs:sequence>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:complexType>
    </xs:element>

    <!-- SOAP Header -->
    <xs:element name="Header">
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:complexType>
    </xs:element>

    <!-- SOAP Body - must contain csrd:ReceiveReferenceDataReqMsg -->
    <xs:element name="Body">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="csrd:ReceiveReferenceDataReqMsg"/>
            </xs:sequence>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
